@use "variable" as *;

.about {
  color: #fff;
  display: flex;
  flex-direction: column;
  line-height: 3.6458vw;
  font-size: 2.8125vw;
  width: 100%;
  overflow: scroll;
  position: relative;

  .about-wrapper {
    display: flex;
    flex-direction: column;
    gap: 14.5833vw;
    padding-top: 17.7083vw;
    padding-left: calc(50% - 64px);
    width: 97.1042vw;
    overflow-y: scroll;

    > div {
      width: 90%;
    }

    .about-me {
      display: flex;
      flex-direction: column;
      gap: 3.2292vw;
    }

    p {
      font-size: 2.8125vw;
      line-height: 3.6458vw;
    }

    .elem {
      font-size: 2.2917vw;
      line-height: 2.7604vw;
    }

    .sub-text {
      line-height: 1.6667vw;
      font-size: 1.25vw;
      color: #666666;
    }
  }
}
